<div class="hero-unit center">
	<h1>Share Your Struggles. Help Others With Theirs.</h1>
	<p>Anonymously confide in an open community.</p>

	<b><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary btn-signup"%></b>
</div>