<div class="hero-unit center">
	<h1>Share Your Struggles. Help Others With Theirs.</h1>
	<p>Anonymously confide in an open community.</p>

	<b><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary btn-signup"%></b>
</div>

<hr>

<div class="hero-unit">
	<h1>Join an Open Community</h1>
	<p>Join a growing online community that promotes confidence and emotional wellbeing. Users are free to anonymously post about any personal difficulties, while receiving open community support and advice.</p>
</div>

<hr>

<div class="hero-unit">
	<h1>The Team</h1>
	<br/>
	<row>
		<div class="span4 leftmost team-member">
			<div class="thumbnail">
				<div class="caption pagination-centered">
					<%= image_tag("team/grace-chen.png", alt: "Grace Chen", class: "img-circle") %>
					<h3>Grace Chen</h3>
					<small>Grace is a third year studying Economics and Public Health at Cal who enjoys reading about healthcare and biotech/pharma.</small>
				</div>
			</div>
		</div>
		<div class="span4 team-member">
			<div class="thumbnail">
				<div class="caption pagination-centered">
					<%= image_tag("team/eugenia-kang.png", alt: "Eugenia Kang", class: "img-circle") %>
					<h3>Eugenia Kang</h3>
					<small>Eugenia is a third year BioE and EE/CS major at Cal who regularly searches for pictures of penguins and memes of sloths.</small>
				</div>
			</div>
		</div>
		<div class="span4 team-member">
			<div class="thumbnail">
				<div class="caption pagination-centered">
					<%= image_tag("team/kenneth-le.png", alt: "Kenneth Le", class: "img-circle") %>
					<h3>Kenneth Le</h3>
					<small>Kenneth is a third year at Cal studying Computer Science who enjoys working out and motivating others.</small>
				</div>
			</div>
		</div>
	</row>
</div>