<div class="hero-unit center">
	<h1>Share Your Struggles. Help Others With Theirs.</h1>
	<p>Anonymously confide in an open community.</p>

	<b><%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary btn-signup"%></b>
</div>
<div class="container">
	<h1>Join an Open Community</h1>
	<p>Join a growing online community that promotes emotional wellbeing and confidence. Create a profile and post anonymously about personal issues in a safe virtual space.</p>
</div>