<% provide(:title, "Emergency and Crisis") %>
<h1> Emergency and Crisis </h1>

<h3> If you need to talk with someone now, please call: </h3>
<ul>
	<li><b>National Suicide Prevention Lifeline: </b>1-800-273-TALK (1-800-273-8255)</li>
	<li><b>Berkeley 24-hour Crisis Hotline: </b>1-800-309-2131</li>
</ul>

<h3> Sexual Assault and Abuse </h3>
<ul>
	<li><b>Rape, Abuse, Incest National Network (RAINN): 1- 800-656-HOPE (1-800-656-4673)</b></li>
	<li><b>Bay Area Women Against Rape: </b>510-845-7273</li>
</ul>

<h3> Poison </h3>
<ul>
	<li><b>Poison Control: </b>1-800-222-1222</li>
</ul>

<h3> Substance Abuse </h3>
<ul>
	<li><b>Alameda County Mental Health & Substance Abuse Access Program: </b>1-800-491-9099</li>
</ul>