<%= form_for([@post, @micropost]) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:object => @micropost} %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Respond..." %>
	</div>
	<%= f.submit "Respond", class: "btn btn-large btn-primary" %>
<% end %>